.cache/
.idea/
*__pycache__*
*.pyc
docs/build
build/
LOTUS_regression.egg-info/
dist/
*.html
*.md
*.ipynb_checkpoints*
examples/*
.DS_store
src/LOTUS_regression/_version.py
src/LOTUS_regression/version.py
